.person {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.avatar {
    margin: 0 24px 0 0;
}

.avatar img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.person-btns {
    margin-left: auto;
}